body {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
/* change color to odin color for body and container*/
}

.container {
    font-size: 20px;
    background-color: #1F2937;
    flex: 1 0 auto;
}

.list {
    justify-content: space-between;
    align-items: flex-end;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 5px;
}
.item0 {
display: flex;
margin: 5px;
padding: 3px; 
color: white; 
}

.item1 {
    display: flex;
    margin: 7px;
}

.item2 {
    display: flex;
    margin: 7px;
}

.item3 {
    display: flex;
    margin: 7px;
}

.hl {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

}
/* this starts main bodies*/
.b1 {
    display: flex;
    background-color: #1F2937;
    flex: 1 0 auto;
}
.h1 {
    display: flex;
    font-size: 48px;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    flex: 1 0 auto;
    background-color: #1F2937;
    max-height: 150px;
    color: white;

    
}
.p1 {
    font-size: 15px;
    width: 200px;
    text-align: left;
    height: 75px;
    display: flex;
    justify-content: flex-start;
    margin: 5px;
    align-self: flex-start;
}

.button {
    display: flex;
    flex: 1 0 auto;
    font-size: 10px;
    margin: auto;
    background-color: #3882F6;
    color: white;
    
}

.button1 {
    display: flex;
    margin: 5px;
    border: none;
    width: 50px;

    
}

.img {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    margin: 30px;
    height: 150px;
    max-width: fit-content;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
    
}
.pic1 {
display: flex;
}
.pic2 {
display: flex;
}

.pic3 {
display: flex;

}

.pic4 {
display: flex;    

}

.b2 {
   background-color: white;
   height: 200px;
   display: flex;
   flex-direction: column;

}
.h2 {
   display: flex;
   flex: 1 0 auto;
}

.b3 {
    display: flex;
    background-color: lightgray;
    flex: 1 0 auto;
    height: 150px;
    text-align: center;
    align-items: center;
    
}

#footer {
    display: flex;
    background-color: gray;
    font-size: 20px;
}
